header{
    background-color: yellow;
    border: 3px dotted orange;
    text-align: center;
    font-weight: bold;
    height: 40px;
    p{
        padding-top: 8px;
        font-weight: cinzel;
        font-weight: 400;
        font-size: 18px;
    }
};